In [364]:
import numpy as np
import pandas as pd

In [365]:
books= pd.read_csv('Books.csv')
ratings= pd.read_csv('Ratings.csv')

C:\Users\adars\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [366]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [367]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [368]:
books.shape

(271360, 8)

In [369]:
ratings.shape

(1149780, 3)

In [370]:
#merging both the tables
books=books.merge(ratings,on='ISBN')

In [371]:
books.shape

(1031136, 10)

In [372]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031136 entries, 0 to 1031135
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   ISBN                 1031136 non-null  object
 1   Book-Title           1031136 non-null  object
 2   Book-Author          1031135 non-null  object
 3   Year-Of-Publication  1031136 non-null  object
 4   Publisher            1031134 non-null  object
 5   Image-URL-S          1031136 non-null  object
 6   Image-URL-M          1031136 non-null  object
 7   Image-URL-L          1031132 non-null  object
 8   User-ID              1031136 non-null  int64
 9   Book-Rating          1031136 non-null  int64
dtypes: int64(2), object(8)
memory usage: 86.5+ MB

In [373]:
#ISBN
#BOOK Title
#Book Author
#publisher
#image-url

books= books[['ISBN','Book-Title','Book-Author','Publisher','Image-URL-S']]

In [374]:
books.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031136 entries, 0 to 1031135
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   ISBN         1031136 non-null  object
 1   Book-Title   1031136 non-null  object
 2   Book-Author  1031135 non-null  object
 3   Publisher    1031134 non-null  object
 4   Image-URL-S  1031136 non-null  object
dtypes: object(5)
memory usage: 47.2+ MB

In [375]:
books.head()

,ISBN,Book-Title,Book-Author,Publisher,Image-URL-S
0,0195153448,Classical Mythology,Mark P. O. Morford,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
3,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
4,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [376]:
books['Book-Author'][0]

'Mark P. O. Morford'

In [377]:
#finding null values
books.isnull().sum()

ISBN           0
Book-Title     0
Book-Author    1
Publisher      2
Image-URL-S    0
dtype: int64

In [378]:
#dropping null valued 
books.dropna(inplace=True)

In [379]:
#checking for duplicate column
books.duplicated().sum()

760985

In [380]:
books.drop_duplicates()

,ISBN,Book-Title,Book-Author,Publisher,Image-URL-S
0,0195153448,Classical Mythology,Mark P. O. Morford,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
15,0060973129,Decision in Normandy,Carlo D'Este,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
18,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
29,0393045218,The Mummies of Urumchi,E. J. W. Barber,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...
1031131,0440400988,There's a Bat in Bunk Five,Paula Danziger,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...
1031132,0525447644,From One to One Hundred,Teri Sloat,Dutton Books,http://images.amazon.com/images/P/0525447644.0...
1031133,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...
1031134,0192126040,Republic (World's Classics),Plato,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...
1031135,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...

In [381]:
books.iloc[0].Publisher

'Oxford University Press'

In [382]:
books.rename(columns = {'Book-Title':'b_title'}, inplace = True)

In [383]:
books.rename(columns = {'Book-Author':'b_author'}, inplace = True)
books.rename(columns = {'Image-URL-S':'img_url'}, inplace = True)

In [384]:
import ast  #to convert string into list
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [385]:
# #string converted to list
# books['Publisher']= books['Publisher'].apply(convert)

In [386]:
books.head()

,ISBN,b_title,b_author,Publisher,img_url
0,0195153448,Classical Mythology,Mark P. O. Morford,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
3,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
4,0002005018,Clara Callan,Richard Bruce Wright,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [387]:
#converting overview string to list
books['Publisher']=books['Publisher'].apply(lambda x:x.split())

In [388]:
books['b_author']=books['b_author'].apply(lambda x:x.split())

In [389]:
#removing spaces
books['Publisher']= books['Publisher'].apply(lambda x:[i.replace(" ","") for i in x])
books['b_author']= books['b_author'].apply(lambda x:[i.replace(" ","") for i in x])

In [390]:
#creting a new tags column by concatenating others
books['tags']=books['Publisher']+books['b_author']

In [391]:
books.head()

,ISBN,b_title,b_author,Publisher,img_url,tags
0,0195153448,Classical Mythology,"[Mark, P., O., Morford]","[Oxford, University, Press]",http://images.amazon.com/images/P/0195153448.0...,"[Oxford, University, Press, Mark, P., O., Morf..."
1,0002005018,Clara Callan,"[Richard, Bruce, Wright]","[HarperFlamingo, Canada]",http://images.amazon.com/images/P/0002005018.0...,"[HarperFlamingo, Canada, Richard, Bruce, Wright]"
2,0002005018,Clara Callan,"[Richard, Bruce, Wright]","[HarperFlamingo, Canada]",http://images.amazon.com/images/P/0002005018.0...,"[HarperFlamingo, Canada, Richard, Bruce, Wright]"
3,0002005018,Clara Callan,"[Richard, Bruce, Wright]","[HarperFlamingo, Canada]",http://images.amazon.com/images/P/0002005018.0...,"[HarperFlamingo, Canada, Richard, Bruce, Wright]"
4,0002005018,Clara Callan,"[Richard, Bruce, Wright]","[HarperFlamingo, Canada]",http://images.amazon.com/images/P/0002005018.0...,"[HarperFlamingo, Canada, Richard, Bruce, Wright]"

In [508]:
from sklearn.model_selection import train_test_split

In [509]:
x,y=train_test_split(books,test_size=.005,random_state=42)

In [510]:
x

,ISBN,b_title,b_author,Publisher,img_url,tags
505300,0394717724,Maltese Falcon,"[Dashiell, Hammett]","[Random, House~trade]",http://images.amazon.com/images/P/0394717724.0...,"[Random, House~trade, Dashiell, Hammett]"
441381,044900192X,The Blackstone Chronicles (Blackstone Chronicles),"[John, Saul]","[Ballantine, Books]",http://images.amazon.com/images/P/044900192X.0...,"[Ballantine, Books, John, Saul]"
587769,091317503X,This Bridge Called My Back: Writings by Radica...,"[Cherrie, Moraga]","[Kitchen, Table--Women, of, Color, Press]",http://images.amazon.com/images/P/091317503X.0...,"[Kitchen, Table--Women, of, Color, Press, Cher..."
537424,1573221465,A Gesture Life,"[Chang-Rae, Lee]","[Riverhead, Books]",http://images.amazon.com/images/P/1573221465.0...,"[Riverhead, Books, Chang-Rae, Lee]"
360496,0553294091,Once an Angel,"[Teresa, Medeiros]","[Bantam, Books]",http://images.amazon.com/images/P/0553294091.0...,"[Bantam, Books, Teresa, Medeiros]"
...,...,...,...,...,...,...
259178,0385502532,Drowning Ruth,"[Christina, Schwarz]",[Doubleday],http://images.amazon.com/images/P/0385502532.0...,"[Doubleday, Christina, Schwarz]"
365838,0486270521,Sonnets from the Portuguese and Other Poems (D...,"[Elizabeth, Barrett, Browning]","[Dover, Publications]",http://images.amazon.com/images/P/0486270521.0...,"[Dover, Publications, Elizabeth, Barrett, Brow..."
131932,0553583867,The Husband Test,"[Betina, M., Krahn]","[Bantam, Books]",http://images.amazon.com/images/P/0553583867.0...,"[Bantam, Books, Betina, M., Krahn]"
671155,B00009EF82,Hannibal,"[Thomas, Harris]","[Delacorte, Press]",http://images.amazon.com/images/P/B00009EF82.0...,"[Delacorte, Press, Thomas, Harris]"
121958,0060987561,I Know This Much Is True,"[Wally, Lamb]","[Regan, Books]",http://images.amazon.com/images/P/0060987561.0...,"[Regan, Books, Wally, Lamb]"

In [511]:
y

,ISBN,b_title,b_author,Publisher,img_url,tags
320090,0671027514,SPRINGWATER,"[Linda, Lael, Miller]",[Pocket],http://images.amazon.com/images/P/0671027514.0...,"[Pocket, Linda, Lael, Miller]"
237244,0671447483,PIONEER WOMEN,"[Joanna, Stratton]",[Touchstone],http://images.amazon.com/images/P/0671447483.0...,"[Touchstone, Joanna, Stratton]"
504859,0425137562,Silent Prey,"[John, Sandford]","[Berkley, Publishing, Group]",http://images.amazon.com/images/P/0425137562.0...,"[Berkley, Publishing, Group, John, Sandford]"
82683,0373218192,Engaging The Enemy,"[Nora, Roberts]",[Silhouette],http://images.amazon.com/images/P/0373218192.0...,"[Silhouette, Nora, Roberts]"
46501,0743211383,Dreamcatcher,"[Stephen, King]",[Scribner],http://images.amazon.com/images/P/0743211383.0...,"[Scribner, Stephen, King]"
...,...,...,...,...,...,...
425762,0590624008,Santa Paws,"[Nicholas, Edwards]",[Scholastic],http://images.amazon.com/images/P/0590624008.0...,"[Scholastic, Nicholas, Edwards]"
244475,0671742949,UNDER SIEGE,"[Stephen, Coonts]",[Pocket],http://images.amazon.com/images/P/0671742949.0...,"[Pocket, Stephen, Coonts]"
407534,0425054535,Et the Extra Terrestrial,"[William, Kotzwinkle]","[Penguin, Putnam~mass]",http://images.amazon.com/images/P/0425054535.0...,"[Penguin, Putnam~mass, William, Kotzwinkle]"
241166,0345441036,Black House,"[Stephen, King]","[Ballantine, Books]",http://images.amazon.com/images/P/0345441036.0...,"[Ballantine, Books, Stephen, King]"
231046,0425100650,Twilight Eyes,"[Dean, R., Koontz]","[Berkley, Publishing, Group]",http://images.amazon.com/images/P/0425100650.0...,"[Berkley, Publishing, Group, Dean, R., Koontz]"

In [512]:
y=y.reset_index()

In [515]:
y

,ISBN,b_title,b_author,Publisher,img_url,tags
0,0671027514,SPRINGWATER,"[Linda, Lael, Miller]",[Pocket],http://images.amazon.com/images/P/0671027514.0...,"[Pocket, Linda, Lael, Miller]"
1,0671447483,PIONEER WOMEN,"[Joanna, Stratton]",[Touchstone],http://images.amazon.com/images/P/0671447483.0...,"[Touchstone, Joanna, Stratton]"
2,0425137562,Silent Prey,"[John, Sandford]","[Berkley, Publishing, Group]",http://images.amazon.com/images/P/0425137562.0...,"[Berkley, Publishing, Group, John, Sandford]"
3,0373218192,Engaging The Enemy,"[Nora, Roberts]",[Silhouette],http://images.amazon.com/images/P/0373218192.0...,"[Silhouette, Nora, Roberts]"
4,0743211383,Dreamcatcher,"[Stephen, King]",[Scribner],http://images.amazon.com/images/P/0743211383.0...,"[Scribner, Stephen, King]"
...,...,...,...,...,...,...
5151,0590624008,Santa Paws,"[Nicholas, Edwards]",[Scholastic],http://images.amazon.com/images/P/0590624008.0...,"[Scholastic, Nicholas, Edwards]"
5152,0671742949,UNDER SIEGE,"[Stephen, Coonts]",[Pocket],http://images.amazon.com/images/P/0671742949.0...,"[Pocket, Stephen, Coonts]"
5153,0425054535,Et the Extra Terrestrial,"[William, Kotzwinkle]","[Penguin, Putnam~mass]",http://images.amazon.com/images/P/0425054535.0...,"[Penguin, Putnam~mass, William, Kotzwinkle]"
5154,0345441036,Black House,"[Stephen, King]","[Ballantine, Books]",http://images.amazon.com/images/P/0345441036.0...,"[Ballantine, Books, Stephen, King]"
5155,0425100650,Twilight Eyes,"[Dean, R., Koontz]","[Berkley, Publishing, Group]",http://images.amazon.com/images/P/0425100650.0...,"[Berkley, Publishing, Group, Dean, R., Koontz]"

In [514]:
del y['index']

In [516]:
#converitng to string
y['b_author']= y['b_author'].apply(lambda x: " ".join(x))
# y['b_title']= y['b_title'].apply(lambda x: " ".join(x))

In [517]:
for i in range(5156):
    y['b_author'][i]=' '+'by'+' '+y['b_author'][i]

In [518]:
y['b_info']=y['b_title']+y['b_author']

In [519]:
y

,ISBN,b_title,b_author,Publisher,img_url,tags,b_info
0,0671027514,SPRINGWATER,by Linda Lael Miller,[Pocket],http://images.amazon.com/images/P/0671027514.0...,"[Pocket, Linda, Lael, Miller]",SPRINGWATER by Linda Lael Miller
1,0671447483,PIONEER WOMEN,by Joanna Stratton,[Touchstone],http://images.amazon.com/images/P/0671447483.0...,"[Touchstone, Joanna, Stratton]",PIONEER WOMEN by Joanna Stratton
2,0425137562,Silent Prey,by John Sandford,"[Berkley, Publishing, Group]",http://images.amazon.com/images/P/0425137562.0...,"[Berkley, Publishing, Group, John, Sandford]",Silent Prey by John Sandford
3,0373218192,Engaging The Enemy,by Nora Roberts,[Silhouette],http://images.amazon.com/images/P/0373218192.0...,"[Silhouette, Nora, Roberts]",Engaging The Enemy by Nora Roberts
4,0743211383,Dreamcatcher,by Stephen King,[Scribner],http://images.amazon.com/images/P/0743211383.0...,"[Scribner, Stephen, King]",Dreamcatcher by Stephen King
...,...,...,...,...,...,...,...
5151,0590624008,Santa Paws,by Nicholas Edwards,[Scholastic],http://images.amazon.com/images/P/0590624008.0...,"[Scholastic, Nicholas, Edwards]",Santa Paws by Nicholas Edwards
5152,0671742949,UNDER SIEGE,by Stephen Coonts,[Pocket],http://images.amazon.com/images/P/0671742949.0...,"[Pocket, Stephen, Coonts]",UNDER SIEGE by Stephen Coonts
5153,0425054535,Et the Extra Terrestrial,by William Kotzwinkle,"[Penguin, Putnam~mass]",http://images.amazon.com/images/P/0425054535.0...,"[Penguin, Putnam~mass, William, Kotzwinkle]",Et the Extra Terrestrial by William Kotzwinkle
5154,0345441036,Black House,by Stephen King,"[Ballantine, Books]",http://images.amazon.com/images/P/0345441036.0...,"[Ballantine, Books, Stephen, King]",Black House by Stephen King
5155,0425100650,Twilight Eyes,by Dean R. Koontz,"[Berkley, Publishing, Group]",http://images.amazon.com/images/P/0425100650.0...,"[Berkley, Publishing, Group, Dean, R., Koontz]",Twilight Eyes by Dean R. Koontz

In [520]:
#creating new data frame with limited column
new_df=y[['ISBN','b_title','b_info','tags']]

In [521]:
type(y)

pandas.core.frame.DataFrame

In [522]:
new_df.shape

(5156, 4)

In [523]:
#converitng to string
new_df['tags']= new_df['tags'].apply(lambda x: " ".join(x))

<ipython-input-523-9e524c4a8497>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']= new_df['tags'].apply(lambda x: " ".join(x))

In [524]:
new_df=new_df.reset_index()

In [525]:
new_df

,index,ISBN,b_title,b_info,tags
0,0,0671027514,SPRINGWATER,SPRINGWATER by Linda Lael Miller,Pocket Linda Lael Miller
1,1,0671447483,PIONEER WOMEN,PIONEER WOMEN by Joanna Stratton,Touchstone Joanna Stratton
2,2,0425137562,Silent Prey,Silent Prey by John Sandford,Berkley Publishing Group John Sandford
3,3,0373218192,Engaging The Enemy,Engaging The Enemy by Nora Roberts,Silhouette Nora Roberts
4,4,0743211383,Dreamcatcher,Dreamcatcher by Stephen King,Scribner Stephen King
...,...,...,...,...,...
5151,5151,0590624008,Santa Paws,Santa Paws by Nicholas Edwards,Scholastic Nicholas Edwards
5152,5152,0671742949,UNDER SIEGE,UNDER SIEGE by Stephen Coonts,Pocket Stephen Coonts
5153,5153,0425054535,Et the Extra Terrestrial,Et the Extra Terrestrial by William Kotzwinkle,Penguin Putnam~mass William Kotzwinkle
5154,5154,0345441036,Black House,Black House by Stephen King,Ballantine Books Stephen King
5155,5155,0425100650,Twilight Eyes,Twilight Eyes by Dean R. Koontz,Berkley Publishing Group Dean R. Koontz

In [526]:
# del new_df['level_0']

In [527]:
del new_df['index']

In [528]:
new_df

,ISBN,b_title,b_info,tags
0,0671027514,SPRINGWATER,SPRINGWATER by Linda Lael Miller,Pocket Linda Lael Miller
1,0671447483,PIONEER WOMEN,PIONEER WOMEN by Joanna Stratton,Touchstone Joanna Stratton
2,0425137562,Silent Prey,Silent Prey by John Sandford,Berkley Publishing Group John Sandford
3,0373218192,Engaging The Enemy,Engaging The Enemy by Nora Roberts,Silhouette Nora Roberts
4,0743211383,Dreamcatcher,Dreamcatcher by Stephen King,Scribner Stephen King
...,...,...,...,...
5151,0590624008,Santa Paws,Santa Paws by Nicholas Edwards,Scholastic Nicholas Edwards
5152,0671742949,UNDER SIEGE,UNDER SIEGE by Stephen Coonts,Pocket Stephen Coonts
5153,0425054535,Et the Extra Terrestrial,Et the Extra Terrestrial by William Kotzwinkle,Penguin Putnam~mass William Kotzwinkle
5154,0345441036,Black House,Black House by Stephen King,Ballantine Books Stephen King
5155,0425100650,Twilight Eyes,Twilight Eyes by Dean R. Koontz,Berkley Publishing Group Dean R. Koontz

In [529]:
import nltk

In [530]:
#stemming to extraxt the root only

from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [531]:
#defining stemming function

def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [532]:
new_df['tags']= new_df['tags'].apply(stem)

In [533]:
new_df['tags'][0]

'pocket linda lael miller'

In [534]:
#convering to lower case 
new_df['tags']= new_df['tags'].apply(lambda x:x.lower())

In [535]:
new_df.tail()

,ISBN,b_title,b_info,tags
5151,0590624008,Santa Paws,Santa Paws by Nicholas Edwards,scholast nichola edward
5152,0671742949,UNDER SIEGE,UNDER SIEGE by Stephen Coonts,pocket stephen coont
5153,0425054535,Et the Extra Terrestrial,Et the Extra Terrestrial by William Kotzwinkle,penguin putnam~mass william kotzwinkl
5154,0345441036,Black House,Black House by Stephen King,ballantin book stephen king
5155,0425100650,Twilight Eyes,Twilight Eyes by Dean R. Koontz,berkley publish group dean r. koontz

In [536]:
#Need to vectorize the tags for making comparisions for recommendation
from sklearn.feature_extraction.text import CountVectorizer
cv= CountVectorizer(max_features=5000, stop_words= 'english')

In [537]:
vectors= cv.fit_transform(new_df['tags']).toarray()

In [538]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [539]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [540]:
cv.get_feature_names()

['10',
 '12',
 '18',
 '1stbook',
 '400',
 '62',
 '84',
 'aa',
 'aaron',
 'ab',
 'abbevil',
 'abbey',
 'abbi',
 'abbott',
 'abigail',
 'ablow',
 'abraham',
 'abram',
 'ac',
 'academi',
 'ace',
 'acheb',
 'achenbach',
 'ackerman',
 'act',
 'adam',
 'adamson',
 'adapter',
 'addison',
 'adela',
 'adelin',
 'adelphi',
 'adler',
 'adriana',
 'adrienn',
 'adult',
 'advanc',
 'aelr',
 'af',
 'affinati',
 'agatha',
 'age',
 'agel',
 'agn',
 'aguilar',
 'ahern',
 'ai',
 'aigner',
 'aileen',
 'aime',
 'aitchison',
 'al',
 'ala',
 'aladdin',
 'alan',
 'alastair',
 'albe',
 'albert',
 'albin',
 'albom',
 'alchemi',
 'alcott',
 'aldecoa',
 'aldo',
 'aldou',
 'alex',
 'alexand',
 'alexandr',
 'alexandra',
 'alexandria',
 'alfaguara',
 'alfr',
 'algar',
 'algonquin',
 'algren',
 'alianza',
 'alibi',
 'alic',
 'alin',
 'alisa',
 'alison',
 'alistair',
 'aljean',
 'allan',
 'allegra',
 'allen',
 'allend',
 'alley',
 'alli',
 'allingham',
 'allison',
 'allston',
 'alluvium',
 'allyn',
 'alma',
 'almanac',
 'alpha',
 'alpuget',
 'altea',
 'alten',
 'altman',
 'alumit',
 'alyson',
 'amacom',
 'amado',
 'amanda',
 'amber',
 'ambler',
 'ambros',
 'ame',
 'ameli',
 'amelia',
 'amer',
 'amereon',
 'america',
 'american',
 'ameriqu',
 'amethyst',
 'amex',
 'amg',
 'ami',
 'ammann',
 'amori',
 'amour',
 'amp',
 'amsco',
 'ana',
 'anagrama',
 'ananta',
 'anatol',
 'anaya',
 'anchor',
 'andersen',
 'anderson',
 'andi',
 'andr',
 'andrea',
 'andrew',
 'ang',
 'angel',
 'angela',
 'angu',
 'anita',
 'ann',
 'anna',
 'anni',
 'anonimo',
 'anonym',
 'ansay',
 'ansel',
 'ansen',
 'anthoni',
 'antoin',
 'anton',
 'antonia',
 'antonio',
 'anya',
 'aoumiel',
 'apollinair',
 'appl',
 'appleg',
 'appleton',
 'applic',
 'arcad',
 'archedigm',
 'archer',
 'archibald',
 'arden',
 'ardrey',
 'aret',
 'ariel',
 'aristotl',
 'arjouni',
 'arlen',
 'armadillo',
 'armah',
 'armistead',
 'armstrong',
 'arnau',
 'arnett',
 'arnold',
 'arrow',
 'art',
 'arthur',
 'arturo',
 'arundhati',
 'ashley',
 'ashton',
 'asimov',
 'aspect',
 'asprin',
 'assi',
 'assia',
 'assn',
 'assoc',
 'associ',
 'atheneum',
 'atherton',
 'atkin',
 'atkinson',
 'atlant',
 'atlantida',
 'atria',
 'atwood',
 'audel',
 'audio',
 'audiobook',
 'audiowork',
 'audrey',
 'auel',
 'augsburg',
 'august',
 'augusten',
 'augustin',
 'austen',
 'australia',
 'author',
 'automot',
 'avail',
 'ave',
 'avenel',
 'averi',
 'avi',
 'avon',
 'ayi',
 'aymar',
 'babbitt',
 'babi',
 'bach',
 'badgeri',
 'baen',
 'baglio',
 'bailey',
 'baker',
 'bakker',
 'bako',
 'balch',
 'baldacci',
 'baldwin',
 'balken',
 'ball',
 'ballantin',
 'ballard',
 'balogh',
 'balzac',
 'bamforth',
 'ban',
 'banana',
 'bang',
 'bank',
 'banner',
 'bantam',
 'bantock',
 'banzhaf',
 'barba',
 'barbara',
 'barber',
 'barbour',
 'barcelona',
 'barker',
 'barley',
 'barn',
 'barnard',
 'barnes',
 'barnett',
 'barney',
 'barr',
 'barrett',
 'barri',
 'barrington',
 'barron',
 'barrow',
 'bartholomew',
 'barton',
 'barzun',
 'basic',
 'bass',
 'bassarear',
 'bate',
 'bateman',
 'bathroom',
 'battcock',
 'baudelair',
 'baudino',
 'bauer',
 'baum',
 'baxter',
 'bay',
 'bayard',
 'bb',
 'bbc',
 'beacon',
 'beagl',
 'beall',
 'bear',
 'beasant',
 'beaton',
 'beatric',
 'beatrix',
 'beatti',
 'bebe',
 'bechard',
 'beck',
 'becker',
 'bedford',
 'bedrick',
 'beeb',
 'bei',
 'beinhorn',
 'beishir',
 'belk',
 'bell',
 'bellow',
 'beltz',
 'belva',
 'ben',
 'bender',
 'benedict',
 'benford',
 'benjamin',
 'benn',
 'bennett',
 'benni',
 'benson',
 'bentley',
 'benton',
 'bepp',
 'berendt',
 'berenstain',
 'berg',
 'berger',
 'bergreen',
 'berkeley',
 'berkley',
 'berkman',
 'berlitz',
 'berloquin',
 'bernard',
 'bernhard',
 'bernhardt',
 'bernheim',
 'bernic',
 'bernier',
 'berresford',
 'berrett',
 'berriault',
 'bert',
 'berton',
 'bertrand',
 'bertric',
 'berzon',
 'bess',
 'beth',
 'bethancourt',
 'bethani',
 'betsi',
 'bett',
 'bettelheim',
 'better',
 'betti',
 'beverli',
 'beyer',
 'bezig',
 'bhaktivedanta',
 'bharati',
 'bibl',
 'bibliograph',
 'biedma',
 'bierc',
 'biermann',
 'big',
 'bij',
 'bil',
 'billi',
 'binchi',
 'bingham',
 'biracre',
 'birch',
 'bircher',
 'bird',
 'birdsel',
 'birmingham',
 'birnbach',
 'biro',
 'bishop',
 'bissel',
 'bittner',
 'biu',
 'bj',
 'bk',
 'black',
 'blackstock',
 'blackwel',
 'blair',
 'blaisdel',
 'blake',
 'blanch',
 'blanchard',
 'blanvalet',
 'blauner',
 'bleasdal',
 'bli',
 'blish',
 'block',
 'blofeld',
 'blome',
 'bloom',
 'bloomsburi',
 'blue',
 'blume',
 'blunt',
 'blyton',
 'bo',
 'bob',
 'bockoven',
 'bodani',
 'bodger',
 'boes',
 'bogomil',
 'bohjalian',
 'bohring',
 'boi',
 'boij',
 'boissard',
 'bolen',
 'boll',
 'bombeck',
 'bonanza',
 'bond',
 'bonesteel',
 'bonni',
 'book',
 'books',
 'booksoncomputer',
 'bookthrift',
 'boom',
 'booth',
 'boreali',
 'borg',
 'bori',
 'bornstein',
 'bosnak',
 'boswel',
 'bound',
 'bourgeoi',
 'bourk',
 'bourn',
 'bouzereau',
 'bova',
 'bowden',
 'bowen',
 'bown',
 'boyc',
 'boyd',
 'boyer',
 'boyl',
 'boyll',
 'br',
 'brabazon',
 'brad',
 'bradburi',
 'bradford',
 'bradi',
 'bradley',
 'bram',
 'bramwel',
 'brand',
 'brandner',
 'brandreth',
 'brandt',
 'brant',
 'brashar',
 'braun',
 'brava',
 'braver',
 'braybrook',
 'brazil',
 'breathnach',
 'breena',
 'brenda',
 'brendan',
 'brennan',
 'brent',
 'breslin',
 'brestin',
 'bret',
 'breton',
 'bretton',
 'brian',
 'bricker',
 'bridg',
 'bridge',
 'bridwel',
 'brien',
 'brigg',
 'brightwel',
 'brillianc',
 'brin',
 'brink',
 'brite',
 'britten',
 'broadway',
 'brock',
 'brockman',
 'brockmann',
 'brokaw',
 'broner',
 'bront',
 'brook',
 'brookner',
 'brosnan',
 'brown',
 'brownley',
 'broyard',
 'bruce',
 'bruckheim',
 'brul',
 'bruno',
 'brust',
 'bryan',
 'bryant',
 'bryce',
 'bryson',
 'btb',
 'buccan',
 'buchverlag',
 'buck',
 'bud',
 'buechner',
 'buffa',
 'buffett',
 'bulfinch',
 'bullin',
 'buntman',
 'burk',
 'burkett',
 'burmark',
 'burmeister',
 'burn',
 'burnett',
 'burrough',
 'burroway',
 'busbi',
 'bush',
 'bushnel',
 'busi',
 'butel',
 'butler',
 'butterworth',
 'byar',
 'byatt',
 'byr',
 'byron',
 'ca',
 'cabarga',
 'cabot',
 'cach',
 'cag',
 'cahil',
 'caidin',
 'cairo',
 'caiseal',
 'caitlin',
 'caldicott',
 'caldwel',
 'caleb',
 'california',
 'calloway',
 'calp',
 'calthorp',
 'calvino',
 'cambridg',
 'cameron',
 'camilleri',
 'camilo',
 'campbel',
 'campisi',
 'camu',
 'canada',
 'canadian',
 'candac',
 'candic',
 'candlewick',
 'canfield',
 'canham',
 'cann',
 'cannel',
 'canter',
 'capek',
 'capl',
 'caplow',
 'capo',
 'capot',
 'capuzzo',
 'cara',
 'carcaterra',
 'card',
 'carey',
 'carl',
 'carla',
 'carli',
 'carlin',
 'carlo',
 'carlsen',
 'carlson',
 'carlton',
 'carman',
 'carol',
 'carolin',
 'carolyn',
 'carr',
 'carrington',
 'carrol',
 'carson',
 'carsten',
 'carter',
 'cartland',
 'cartwheel',
 'caryl',
 'casavella',
 'cascad',
 'case',
 'casey',
 'cassandra',
 'cassel',
 'cassi',
 'cassidi',
 'castaneda',
 'castl',
 'caswel',
 'cate',
 'catedra',
 'catherin',
 'cathi',
 'cauvin',
 'cauwelaert',
 'cave',
 'caveliu',
 'caxton',
 'cecil',
 'cecili',
 'ceil',
 'cela',
 'celesti',
 'center',
 'central',
 'chabon',
 'chadwick',
 'chaim',
 'chalker',
 'chamberlain',
 'chamberlin',
 'chandler',
 'chang',
 'chapel',
 'chapman',
 'chappel',
 'charbonneau',
 'charel',
 'charl',
 'charlain',
 'charlen',
 'charlott',
 'charlton',
 'charrett',
 'charter',
 'chaucer',
 'chboski',
 'cheever',
 'chekhov',
 'chelsea',
 'cheney',
 'cher',
 'cheri',
 'cherryh',
 'cheryl',
 'chesnutt',
 'chevali',
 'chiarello',
 'chiaverini',
 'chicago',
 'chichest',
 'chicken',
 'chief',
 'child',
 'children',
 'chilton',
 'china',
 'chinua',
 'chip',
 'chiver',
 'choi',
 'choic',
 'chomski',
 'chopin',
 'choy',
 'chri',
 'christa',
 'christi',
 'christian',
 'christin',
 'christina',
 'christma',
 'christoph',
 'chronicl',
 'chuck',
 'chun',
 'churchil',
 'chynoweth',
 'ciardi',
 'cindi',
 'citadel',
 'clad',
 'clair',
 'clanci',
 'clara',
 'clare',
 'clarin',
 'clarion',
 'clark',
 'clarkson',
 'classic',
 'claudia',
 'clavel',
 'claypool',
 'clayt',
 'clayton',
 'cleag',
 'cleari',
 'clei',
 'clellon',
 'clement',
 'cleveland',
 'client',
 'cliff',
 'clifford',
 'clinton',
 'clive',
 'clutton',
 'coast',
 'coatsworth',
 'coben',
 'cockey',
 'coco',
 'coe',
 'coelho',
 'coetze',
 'coffe',
 'cogan',
 'cohen',
 'colacello',
 'coldsmith',
 'cole',
 'coleman',
 'colfer',
 'colihu',
 'colin',
 'collect',
 'colleen',
 'colleg',
 'collier',
 'collin',
 'colman',
 'coloroso',
 'colter',
 'columbia',
 'com',
 'comic',
 'commun',
 'comp',
 'compani',
 'company',
 'compass',
 'compcar',
 'comput',
 'conan',
 'conant',
 'concordia',
 'congdon',
 'conley',
 'conn',
 'connel',
 'connelli',
 'conner',
 'conni',
 'connolli',
 'connor',
 'conroy',
 'consortium',
 'constanc',
 'contemporari',
 'context',
 'continent',
 'conway',
 'cook',
 'coolidg',
 'cooney',
 'coont',
 'cooper',
 'coraghessan',
 'corbett',
 'corelli',
 'coren',
 'corgi',
 'cormac',
 'cormier',
 'cornelia',
 'corneliu',
 'cornwel',
 'corp',
 'corpor',
 'corri',
 'corvida',
 'corwin',
 'coscarelli',
 'cosel',
 'cosgriff',
 'cosgrov',
 'coss',
 'costa',
 'costello',
 'cotler',
 'coughlin',
 'coulter',
 'counsel',
 'counterpoint',
 'countess',
 'countryman',
 'coup',
 'coupl',
 'coupland',
 'cours',
 'courtenay',
 'covert',
 'covil',
 'cowan',
 'coward',
 'coyl',
 'crai',
 'craig',
 'craighead',
 'crain',
 'crane',
 'crawford',
 'creativ',
 'crebbin',
 'cremona',
 'cressi',
 'cresswel',
 'crichton',
 'crider',
 'crime',
 'crimelin',
 'crittenden',
 'crocker',
 'crombi',
 'cronin',
 'cronkit',
 'crosbi',
 'cross',
 'crossley',
 'crossroad',
 'crossway',
 'crow',
 'crowel',
 'crown',
 'crume',
 'crusad',
 'crusi',
 'crutcher',
 'cruz',
 'cuddon',
 'cum',
 'cunningham',
 'currenc',
 'current',
 'curriculum',
 'curti',
 'curtin',
 'curtiss',
 'cussler',
 'cusumano',
 'cutler',
 'cutlip',
 'cutrer',
 'cynthia',
 'da',
 'dacyczyn',
 'dadey',
 'dafydd',
 'dahl',
 'dai',
 'dailey',
 'dain',
 'dale',
 'daley',
 'dalkey',
 'dalla',
 'dalton',
 'dam',
 'dame',
 'damon',
 'dan',
 'dana',
 'dandi',
 'daniel',
 'danielewski',
 'dann',
 'danni',
 'danzig',
 'dara',
 'darcey',
 'darci',
 'dargaud',
 'darian',
 'darin',
 'dark',
 'darlen',
 'darman',
 'darnton',
 'darrel',
 'dart',
 'dashiel',
 'date',
 'daubeney',
 'dav',
 'dava',
 'dave',
 'davenport',
 'davi',
 'david',
 'davidson',
 'daw',
 'dawkin',
 'dawood',
 'dawson',
 'day',
 'daymond',
 'dba',
 'dc',
 'dead',
 'deadli',
 'dean',
 'deana',
 'deaner',
 'deanna',
 'deauxvil',
 'deaver',
 'debbi',
 'deborah',
 'debra',
 'dee',
 'deep',
 'defo',
 'degen',
 'degener',
 'deighton',
 'del',
 'delacort',
 'delacroix',
 'delani',
 'delgado',
 'delillo',
 'delima',
 'delinski',
 'dell',
 'delmar',
 'delta',
 'demetra',
 'demil',
 'den',
 'deni',
 'denis',
 'denison',
 'denni',
 'denoã',
 'depart',
 'der',
 'derek',
 'derleth',
 'derrick',
 'desai',
 'descant',
 'descart',
 'deseret',
 'deshon',
 'desmond',
 'destini',
 'destino',
 'dethlefsen',
 'deutsch',
 'deutscher',
 'deval',
 'deve',
 'deveraux',
 'devereaux',
 'dewees',
 'dexter',
 'di',
 'dial',
 ...]

In [541]:
 from sklearn.metrics.pairwise import cosine_similarity

In [542]:
#finding the cosine similarity between the vectors
similarity= cosine_similarity(vectors)

In [543]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1557, 1.0), (1889, 1.0), (2117, 1.0), (3285, 1.0), (3520, 1.0)]

In [544]:
#creating function to generate similar 5 movies from vector
def recommend (book):
    book_index= new_df[new_df['b_title'] == book].index[0]
    distances= similarity[book_index]
    book_list= sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:21]
    
    for i in book_list:
        print(new_df.iloc[i[0]].b_title)
    return

In [545]:
recommend('Santa Paws')

The Encounter (Animorphs , No 3)
The Hitchhiker (Point)
Freak the Mighty
The Invasion (Animorphs, No 1)
Days Are Just Packed Calvin and Hobbes
The Snowman
Monster Blood II (Goosebumps, No 18)
The Extreme (Animorphs , No 25)
Harry Potter and the Order of the Phoenix (Book 5)
Harry Potter and the Order of the Phoenix (Book 5)
Harry Potter and the Prisoner of Azkaban (Book 3)
Welcome to Camp Nightmare (Goosebumps, No 9)
Harry Potter and the Order of the Phoenix (Book 5)
Calling All Creeps! (Goosebumps, No 50)
One Day at Horrorland (Goosebumps, No 16)
Monster Blood II (Goosebumps, No 18)
How to Kill a Monster (Goosebumps, No 46)
Harry Potter and the Chamber of Secrets Postcard Book
Harry Potter and the Sorcerer's Stone (Book 1)
Diary of a Junior Year (Real Teens, Volume 2)

In [546]:
#fetchin movie title using its index
new_df.iloc[3].b_title

'Engaging The Enemy'

In [547]:
new_df[new_df['b_title']=='Santa Paws'].index[0]

5151

In [548]:
#importing pickle to api references

import pickle

In [549]:
pickle.dump(new_df.to_dict(),open('book_dictsss.pkl','wb'))

In [550]:
pickle.dump(similarity,open('booksss_similarity.pkl','wb'))